{% extends 'base_portal.html' %}
{% block head %}
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
        }
        .form-signin .form-floating:focus-within {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}

  <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog"
    id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Login in</h1>
        </div>

        <div class="modal-body p-5 pt-0">
          <form id="login-form">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" name="username" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" name="password" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Login</button>
            <small class="text-muted">By clicking Login, you agree to the terms of use.</small>
            <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">You don't have an account number yet?</h2>
            <a class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" href="/register">
              Join us now
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>

    <script>
        $('#login-form').submit(function (event) {
            event.preventDefault();
            $.post('/login', $(this).serialize(), function (res) {
                if (res.status) {
                    alert(res.message)
                    window.location.href = '/home';
                } else alert(res.message)
            });
        });
    </script>
{% endblock %}