{% extends 'base_portal.html' %}

{% block body %}

  <div class="container my-5">
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal">You have successfully paid</h1>
        <p class="fs-5">You have successfully paidYou have successfully paidYou have successfully paidYou have successfully paidYou have successfully paidYou have successfully paid</p>
        <p>You have successfully paidYou have successfully paidYou have successfully paidYou have successfully paidYou have successfully paidYou have successfully paidYou have successfully paidYou have successfully paid</p>
        <p>
          <a class="btn btn-primary" href="/" role="button">Click to going to the home page</a>
        </p>
    </div>
    </div>
  </div>
{% endblock %}